<!-- <div class="crim">
 <h4><%= crim.statute %> </h4>
 <h5>Jury Instructions:</h5>
 <italic><%= crim.juryinst %></italic>
 <h5>Notes:</h5>
 <italic><%= crim.notes %></italic>
</div> -->

<% if crims %>
  <% crims.each do |crim| %>
  <tr>
    <td><%= crim.statute %></td>
    <td><%= crim.juryinst %></td>
    <td><%= crim.notes %></td>
    
  </tr>
  <% end %>
<% else %>
  <tr><td>No posts</td></tr>
<% end %>