<%= form_for :crim, method: :post do |f| %>
  <p>
    <%= f.label :statute %><br>
    <%= f.text_field :statute %>
  </p>
 
  <p>
    <%= f.label :juryinst %><br>
    <%= f.text_area :juryinst %>
  </p>

  <p>
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>

<h1>Library</h1> 

<% @crims.each do |crim| %>
    <tr>
      <br>
      <td>Statute: <%= crim.statute %></td><br>
      <br><td>Jury Instructions: <%= crim.juryinst %></td><br>
      <br><td>Notes: <%= crim.notes %></td><br>
      <br><td><%= link_to 'Destroy', crim_path(crim), method: :delete %></td><br>
    </tr>
  <% end %>
    