<!DOCTYPE html>
<html>
<head>
  <title>Court Helper</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<%= render 'shared/navbar' %>
</head>

<body>
      <div style="text-align:center;">
        <%=form_tag crims_path, :method => 'get' do%>
        <%=text_field_tag :search, params[:search]%>
        <button type="submit" class="btn">Search</button>
      </div>    <br>
    <%end%>

    </form>

    <%= yield %>

</body>
</html>

